<div class="popup-container" *ngIf="showPopup" (click)="closePopup()">
    <div class="popup">
        <div class="popup-content" (click)="$event.stopPropagation()">
            <div class="popup-header">
                <span class="popup-close" (click)="closePopup()">&times;</span>
                <h2>Edit Existing Schedule</h2>
            </div>
            <div class="popup-body">
                <p>meeting-edit works! {{ meeting.person }}: {{ meeting.title }}</p>
            </div>
        </div>
    </div>
</div>