<div class="title-container">
  <select [(ngModel)]="selectedValue" (change)="filterMeetings()">
    <option *ngFor="let option of dropdownOptions" [value]="option">{{option}}</option>
  </select>
</div>

<div class="arrow-container">
  <button class="arrow-btn left-arrow" (click)="backwardArrowClick()">
    <span>&larr;</span>
  </button>
  <button class="arrow-btn right-arrow" (click)="forwardArrowClick()">
    <span>&rarr;</span>
  </button>
</div>
<div>
  <div class="month-container">
    <div class={{getMonthBannerClassname(0)}}>{{getFirstMonth()}}</div>
    <div class={{getMonthBannerClassname(1)}} *ngIf="hasSecondMonth()">{{getSecondMonth()}}</div>
  </div>
</div>

<div class="schedule-container">
  <div class="day-column" *ngFor="let day of days; let i = index">
    <div class="day-header">{{this.parseDayWithSuffix(day)}}</div>
    <div class="time-slot" *ngFor="let slot of timeSlots; let i = index">
      <div class="slot-time">{{ slot.display }}</div>
      <div class="meetings-container">
        <div class="meetings">
          <div class="meeting" *ngFor="let meeting of getMeetingsForTime(day, i)"
            [ngStyle]="{'background-color': getShadeForMeeting(meeting)}">
            {{ meeting.person }}: {{ meeting.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>