.schedule-container {
  display: flex;
}

.day-column {
  flex: 1;
  border: 1px solid #ddd;
  position: relative;
}

.day-header {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
}

.day-column:first-child {
  border-top-left-radius: 0.3rem;
}

.day-column:last-child {
  border-top-right-radius: 0.3rem;
  border: 1px solid #ddd;
}

.time-slot {
  border-bottom: 1px dashed #ddd;
  height: 30px;
  position: relative;
}

.time-slot:last-child {
  border-bottom: none;
}

.slot-time {
  position: absolute;
  left: 0;
  width: 50px;
}

.meetings {
  display: flex;
}

.meetings-container {
  margin-left: 40px;
}

.meeting {
  border-radius: 0.3rem;
  background-color: lightblue;
  border: 1px solid blue;
  padding: 2px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  cursor: pointer;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.title-container {
  display: flex;
  justify-content: center;
}

.arrow-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.arrow-btn:hover {
  background-color: #0056b3;
}

.left-arrow {
  margin-right: auto;
}

.right-arrow {
  margin-left: auto;
}

span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow-btn:hover span {
  transform: scale(1.1);
}

.month-banner {
  width: 100%;
  background-color: lightgray;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  margin-bottom: 5px;
}

.month-container {
  display: flex;
}

.one {
  width: 25%;
}

.two {
  width: 67%;
}

.three {
  width: 150%;
}

.four {
  width: 400%;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
}

.plus-button {
  border-radius: 50%;
}

.plus-button span {
  color: green;
}

.refresh-button, .plus-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #000;
}

.refresh-button span, .plus-button span {
  display: inline-block;
  transform: translateY(-1px);
}

.refresh-button {
  border-radius: 25%;
}